<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Good Sales</title>
</head>
<nav>
    <article>
        <img src="/img/sacola-de-compras.jpg" alt= "Sacola de Compras">
        </br>
        <h1>Good Sales</h1>
        <h4>O Seu Catálogo Vitual</h4>
    </article>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/quemsomos">Quem Somos</a></li>
    </ul>
</nav>
<!-- criada página quem somos -->
<body>
    <header>
        <section id=quemsomos>
            <ul>
                O Good Sales foi idealizado pelos alunos da Blue Edtech, como projeto final do
                Módulo 2 da Turma C007.
            </ul>
                
        </section>
    </header>
    <section class="perfil">
        <article id="mara">
            <ul>
            <h5>Mara Paula Soares</h5>
            <h6>Front End</h6> 
            <img src="/img/marasoares.png" alt="" width="120">
            </ul>
        </article >
        
        <article id="valdenir">
            <ul>
            <h5>Valdenir</h5>
            <h6>Full Stack</h6>
            <img src="https://lh3.googleusercontent.com/ogw/ADea4I736weJr88xL1puxCXJajznJsnuNHhPJHxNHppBHQ=s64-c-mo" alt="">
            </ul>
        </article>
    </section>
    <script src="/public/js/script.js"></script>
    <footer>
        <p>&copy; Todos os direitos reservados. < Good Sales / Mara Paula Soares e Valdenir></p>
    </footer>
</body>
</html>
